{% extends "base.html" %}
{% block content %}
  <h1>Top Comments</h1>
  <ul>


    <ul class="list-group">
        {% for review in comments %}
        <li class="list-group-item pb-3 pt-3">
        <h5 class="card-title">
            Review by {{ review.user.username }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ review.date }}
        </h6>
        <p class="card-text">{{ review.comment }}</p>
        <p class="card-text">Likes: {{ review.likes }}</p>
        
        </li>
        {% endfor %}
    </ul>


    <!-- {% for review in comments %}
      <li>
        <strong>{{ review.user.username }}</strong> on 
        <em>{{ review.movie.name }}</em><br>
        "{{ review.comment|truncatewords:20 }}"
        <br>
        Likes: {{ review.likes }}
        <br>
        <small>Posted at {{ review.date }}</small>
      </li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %} -->
  </ul>
{% endblock %}